/* ========================================================================
 * ALERT
 * ======================================================================== */
.alert {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* ========================================================================
 * BUTTON
 * ======================================================================== */
.btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* ========================================================================
 * LABEL
 * ======================================================================== */
.label {
  padding: 0.3em 0.6em 0.4em;
  font-size: 80%;
}
.label.label-circle {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

/* ========================================================================
 * MISCELLANEOUS
 * ======================================================================== */
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.mt-20 {
  margin-top: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.sample-color {
  height: 20px;
  width: 20px;
  margin: 0 auto;
  display: block;
}

.path {
  float: right;
  font-size: 15px;
}

/* ========================================================================
 * MODAL
 * ======================================================================== */
.modal-header {
  padding: 12px;
}

.modal-content {
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ========================================================================
 * PANEL
 * ======================================================================== */
.panel {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel .panel-heading {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.panel .panel-body p:last-child {
  margin-bottom: 0;
}
.panel.panel-theme .panel-heading {
  color: #ffffff;
}

/* ========================================================================
 * TABLE
 * ======================================================================== */
.table tbody tr td p {
  margin-bottom: 5px;
}
.table tbody tr td ul.list-unstyled li {
  padding-bottom: 7px;
}
.table tbody tr td ul.list-unstyled li:last-child {
  padding-bottom: 0;
}

.table > thead > tr > th, .table-bordered > thead > tr > th {
  border-bottom-width: 0;
}
.table > tbody > tr > td, .table-bordered > tbody > tr > td {
  border-bottom-width: 0;
}

.table-number > tbody > tr > td:first-child {
  text-align: center;
  width: 1%;
}

/* ========================================================================
 * TYPOGRAPHY
 * ======================================================================== */
.dl-horizontal dt {
  width: 40px;
  text-align: left;
}
.dl-horizontal dt .label {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.dl-horizontal dd {
  margin-left: 40px;
  margin-bottom: 15px;
}
.dl-horizontal dd p {
  margin-bottom: 0;
}

.text-strong {
  font-weight: bold;
}

.text-vertically-center {
  border: 1px solid #DDD;
  margin-top: 20px;
  height: 345px;
  text-align: center;
  font-size: 20px;
  background-color: #EEE;
  position: relative;
}
.text-vertically-center h1 {
  line-height: 440px;
  color: #c2c2c2;
}
.text-vertically-center i {
  position: absolute;
  top: 27%;
  left: 45%;
  font-size: 2.5em;
}

@media (max-width: 1024px) {
  .text-vertically-center h1 {
    font-size: 25px;
  }
}
@media (max-width: 980px) {
  .text-vertically-center h1 {
    line-height: 360px;
  }
}
@media (max-width: 800px) {
  .text-vertically-center {
    height: 220px;
  }

  .text-vertically-center h1 {
    line-height: 215px;
  }
  .text-vertically-center i {
    font-size: 1.9em;
  }
}
@media (max-width: 640px) {
  .text-vertically-center {
    font-size: 20px;
  }
  .text-vertically-center h1 {
    font-size: 15px;
  }
  .text-vertically-center i {
    font-size: 2.8em;
  }

  .dl-horizontal dt {
    float: left;
  }
}
