/* ========================================================================
 * BOOTSTRAP
 * ======================================================================== */
.row {
  margin-left: -10px;
  margin-right: -10px;
}

.row-merge {
  margin: 0px;
}

.row-merge > [class*="col-"] {
  padding: 0px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  padding-left: 10px;
  padding-right: 10px;
}

.modal-header {
  border-bottom: none;
}

.navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/* ========================================================================
 * DATATABLES
 * ======================================================================== */
.dt-responsive {
  width: 100% !important;
}

.sorting_disabled {
  padding-right: 5px !important;
}

@media (max-width: 800px) {
  table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {
    padding-top: 8px;
    padding-left: 34px;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr > td:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:before {
    left: 7px !important;
  }
}
@media (max-width: 640px) {
  #table-credit_length, #table-change-log_length {
    display: none;
  }

  #table-credit_filter, #table-change-log_filter {
    text-align: right;
  }
}
/* ========================================================================
 * DATATABLES RESPONSIVE
 * ======================================================================== */
.dt-responsive .row-detail ul li {
  padding: 10px;
}
.dt-responsive .row-detail ul li.text-center {
  text-align: left !important;
}

/* ========================================================================
 * JQUERY SNIPPET
 * ======================================================================== */
.scroll {
  height: 300px;
}

.snippet-wrap .snippet-menu, .snippet-wrap .snippet-hide {
  font-size: 0.5em !important;
}

@media (max-width: 980px) {
  .snippet-wrap .snippet-num {
    margin: 0 0 5px -9px;
  }
  .snippet-wrap .snippet-num li {
    line-height: 25px;
  }
}
/* ========================================================================
 * JQUERY STEPS
 * ======================================================================== */
.wizard > .content {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.wizard > .steps ul li:first-child a {
  margin-top: 0;
}
.wizard > .steps ul li:first-child a:hover, .wizard > .steps ul li:first-child a:active {
  margin-top: 0;
}
.wizard > .steps ul li a {
  margin: 20px 0 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.wizard > .steps ul li a:hover, .wizard > .steps ul li a:active {
  margin: 20px 0 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.wizard > .actions a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.wizard > .actions a:hover, .wizard > .actions a:active {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* ========================================================================
 * SELECT2
 * ======================================================================== */
.page-select2 {
  width: 100%;
}
.page-select2.select2-hidden-accessible {
  width: inherit !important;
}

.select2.select2-container {
  margin-top: 10px;
}

.select2-container--default .select2-selection--single {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #DDD;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #DDD;
}

.select2-dropdown {
  border: 1px solid #DDD;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.select2-results__group {
  background-color: #EBEBEB;
}

@media (max-width: 980px) {
  .select2-container {
    width: 100% !important;
  }
}
@media (max-width: 640px) {
  .select2-container {
    margin-bottom: 20px;
  }
}
