    <!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-home"></i>Dashboard</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <i class="fa fa-home"></i>
            <li class="active"> Dashboard</li>
        </ol>
    </div>
</div><!-- /.header-content -->
<!--/ End page header -->

<div class="body-content animated fadeIn">
        
            <!-- Start datatable using dom -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div class="pull-left">
                                              
                       
                    </div>                
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="clearfix"></div>
                <div class="panel-body double-scroll">
                        <!-- Open Date wise reports -->

                    <div class="row"> 
                   
                        <div class="col-md-12">
                            <!-- Start table with actions -->                           
                            <div class="table-responsive mb-20" id="tablebody">
                               
                                                                        
                                    
                            </div><!-- /.table-responsive -->
                            <!--/ End table with actions -->
                        </div>
    </div><!-- /.row -->     

               
                </div><!-- /.panel-body -->
            </div>

    </div><!-- /.row -->


        <!--/ END CORE PLUGINS -->
        <script src="{base_url()}assets/global/plugins/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{base_url()}assets/global/plugins/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
                
       
<script>
    $(document).ready( function() {

       getdata();
    });
    function getdata()
    {
         $.ajax({
                url: "{base_url()}/Dashboard/ajax_list",
                cache: false,
                type: 'POST',
                success: function (dataofconfirm) {
                    document.getElementById("tablebody").innerHTML = dataofconfirm;                    
                }
         });
    }

    function sold(id)
    {
        $.ajax({
                url: "{base_url()}/Dashboard/sold/"+id,
                cache: false,
                type: 'POST',
                success: function (dataofconfirm) {
                     getdata();                   
                }
         });
        
    }
</script>
