<!-- Start page header -->

    {if $id != "new"}
    {assign var="mfg_id" value=""}
    {assign var="model_no" value=""}
    {assign var="name" value=""}
    {assign var="description" value=""}
    {assign var="qty" value=""}
    {assign var="price" value=""}
    {assign var="is_active" value=""}
    

    {foreach $model_master as $val}
      {$mfg_id=$val->mfg_id}
      {$model_no=$val->model_no}
      {$name=$val->name}
      {$description=$val->description}     
      {$qty=$val->qty}     
      {$price=$val->price}     
      {$is_active=$val->is_active}     
    {/foreach}
    {/if}
<div class="body-content animated fadeIn">
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel rounded shadow">
				<div class="panel-heading">
					<div class="pull-left">
						<h3 class="panel-title">Add New Model</h3>
					</div><!-- /.pull-left -->              
					<div class="clearfix"></div>
				</div><!-- /.panel-heading -->
				<div class="panel-body no-padding">
					<form class="form-horizontal" id="user_submit_form" role="form" method="POST"  name="user_submit_form" action="{base_url('Models/add_record')}"">
					
					<input type="hidden" class="form-control" name="id" value="{$id}">

					<div class="form-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >Mfg Name<span class="asterisk">*</span></label>
                                <div class="col-sm-7">
                                	<select name="mfg_id" id="mfg_id" class="form-control">
                                		<option value="">Select Mfg name</option>
                                		{foreach $mfg_list as $val}
                                		<option value="{$val->id}" {if $mfg_id == $val->id} selected="selected" {/if}>{$val->mfg_name}</option>
                                		{/foreach}
                                	</select>									
									</div>
								</div>
					</div>	
						<div class="form-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Model no<span class="asterisk">*</span></label>
                                <div class="col-sm-7">
									<input class="form-control" id="model_no" name="model_no" type="text" value="{$model_no}" autocomplete="off">
									
								</div>
							</div>
						</div>
						<div class="form-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Model Name<span class="asterisk">*</span></label>
                                <div class="col-sm-7">
									<input class="form-control" id="name" name="name" type="text" value="{$name}" autocomplete="off">									
								</div>
							</div>
						</div>
						<div class="form-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Qty<span class="asterisk">*</span></label>
                                <div class="col-sm-7">
									<input class="form-control" id="qty" name="qty" type="text" value="{$qty}" autocomplete="off">									
								</div>
							</div>
						</div>

						<div class="form-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">price<span class="asterisk">*</span></label>
                                <div class="col-sm-7">
									<input class="form-control" id="price" name="price" type="text" value="{$price}" autocomplete="off">									
								</div>
							</div>
						</div>

						<div class="form-group">
                                <label class="col-sm-3 control-label"> Status <span class="asterisk">*</span> </label>
                                <div class="col-sm-9">
									<div class="rdio-theme col-md-3">
                                        <input id="is_active" type="radio" name="is_active" value="Active" 
										{if $is_active == "Active"} checked {else} checked {/if}>
                                        <label for="user_status"> Active </label>
                                    </div>
                                    <div class="rdio-theme col-md-3">
                                        <input id="user_status" type="radio" name="is_active" value="Inactive"
										{if $is_active == "Inactive"} checked {/if}>
                                        <label for="user_status"> Inactive </label>
                                    </div>
								</div>
							</div>	

						<div class="form-footer">
							<div class="col-sm-offset-3">
								
								<button type="submit" class="btn btn-theme" name="add" >
								Submit</button>
								<button type="reset" class="btn btn-theme" name="rest" >
								Reset</button>
								<a href="{base_url('Models')}" class="btn btn-danger mr-5">Cancel</a>
								
							</div>
						</div><!-- /.form-footer -->
					</form>
					
				</div>
			</div>      
		</div>
	</div><!-- /.row --> 
	
</div><!-- /.body-content -->
<!--/ End body content -->

<script>	
	(function($,W,D)
	{
		var JQUERY4U = {};
		
		JQUERY4U.UTIL =
		{
			setupFormValidation: function()
			{
				
				//form validation rules
				$("#user_submit_form").validate({
					rules:
					{
						mfg_id:
						{
							required:true,
						},
						model_no:
						{
							required:true,
						},
						name:
						{
							required:true,
						},
						qty:
						{
							required:true,
						},
						price:
						{
							required:true,
						},
						is_active:
						{
							required:true,
						}

					},
					messages: 
					{
						mfg_id:
						{
							required: "Please select mfg name",
						},
						model_no:
						{
							required: "Please enter model no",
						},
						name:
						{
							required: "Please enter model name",
						},
						qty:
						{
							required: "Please enter model qty",
						},
						price:
						{
							required: "Please enter model price",
						},
						is_active:
						{
							required:"Please check status",
						}

					},
					
					submitHandler: function(form) 
					{
						console.log(window.ajaxoptions);
						$(form).ajaxSubmit(window.ajaxoptions);
					}
				});
			}
		}
		
		//when the dom has loaded setup form validation rules
		$(D).ready(function($)
		{
			JQUERY4U.UTIL.setupFormValidation();
		});
		
	})(jQuery, window, document);
</script>
