/* ========================================================================
 * HEADER
 * ======================================================================== */
#header{
  .navbar{
    border-width: 0;
    margin: 0;
    text-transform: capitalize;
    .navbar-brand, .navbar-user{
      color: #ffffff;
    }
    .navbar-brand{
      font-size: 18px;
    }
    .navbar-user{
      font-size: 15px;
    }
    .navbar-btn{
      i{
        vertical-align: middle;
        font-size: 10px;
        margin-left: 4px;
      }
    }
    .navbar-header{
      .dropdown-menu{
        @include border-radius(0);
        li{
          &:first-child{
            border-top: none;
          }
          &:last-child{
            border-bottom: none;
          }
          &.active{
            position: relative;
            a{
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1281px){
  #header{
    .navbar{
      width: 1280px;
      margin: 0 auto;
    }
  }
}
@media (min-width: 641px) {
  #header{
    .navbar-header{
      .dropdown-menu{
        display: none;
      }
    }
  }
}
@media (max-width: 640px) {
  #header{
    .navbar-header{
      .dropdown-menu{
        right: 10px;
        top: 58px;
        padding: 0;
        height: 225px;
        width: 190px;
        overflow-x: scroll;
        > li{
          > a {
            color: #656D78;
            display: block;
            padding: 5px 12px;
            font-size: 14px;
            &:hover, &:focus{
              text-decoration: none;
              background: #F5F5F5;
            }
            &:after{
              position: absolute;
              right: -1px;
              top: -1px;
              bottom: 0;
              display: block;
              content: "";
            }
            > .label{
              padding: 5px 5px;
              font-size: 10px;
              margin-top: 1px;
            }
          }
          &.active{
            > .nav{
              > li{
                > a{
                  &:after{
                    position: absolute;
                    right: -1px;
                    top: -1px;
                    bottom: 0;
                    display: block;
                    content: "";
                  }
                }
              }
            }
          }
        }
        li{
          font-size: 13px;
          border-bottom: 1px solid #E6E7E9;
          &:first-child{
            border-top: 1px solid #E6E7E9;
          }
          ul{
            background-color: darken(#F5F5F5, 3%);
            margin: 0;
            li{
              &:last-child{
                border-bottom: none;
              }
            }
          }
        }
        ul{
          display: none;
          > li {
            > a {
              padding-top: 5px;
              padding-bottom: 5px;
              padding-left: 23px;
              font-size: 85%;
            }
          }
        }
      }
    }
  }
}