<!-- Start page header -->

    {if $id != "new"}
    {assign var="mfg_name" value=""}
    {assign var="is_active" value=""}
    

    {foreach $mfg_master as $val}
      {$mfg_name=$val->mfg_name}
      {$is_active=$val->is_active}     
    {/foreach}
    {/if}
<div class="body-content animated fadeIn">
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel rounded shadow">
				<div class="panel-heading">
					<div class="pull-left">
						<h3 class="panel-title">Add New Manufacturers</h3>
					</div><!-- /.pull-left -->              
					<div class="clearfix"></div>
				</div><!-- /.panel-heading -->
				<div class="panel-body no-padding">
					<form class="form-horizontal" id="user_submit_form" role="form" method="POST"  name="user_submit_form" action="{base_url('Manufacturers/add_record')}"">
					
					<input type="hidden" class="form-control" name="id" value="{$id}">
					
						<div class="form-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name<span class="asterisk">*</span></label>
                                <div class="col-sm-7">
									<input class="form-control" id="mfg_name" name="mfg_name" type="text" value="{$mfg_name}" autocomplete="off">									
								</div>
							</div>	

							<div class="form-group">
                                <label class="col-sm-3 control-label"> Status <span class="asterisk">*</span> </label>
                                <div class="col-sm-9">
									<div class="rdio-theme col-md-3">
                                        <input id="is_active" type="radio" name="is_active" value="Active" 
										{if $is_active == "Active"} checked {else} checked {/if}>
                                        <label for="user_status"> Active </label>
                                    </div>
                                    <div class="rdio-theme col-md-3">
                                        <input id="user_status" type="radio" name="is_active" value="Inactive"
										{if $is_active == "Inactive"} checked {/if}>
                                        <label for="user_status"> Inactive </label>
                                    </div>
								</div>
							</div>						
							
						</div>
						<div class="form-footer">
							<div class="col-sm-offset-3">
								
								<button type="submit" class="btn btn-theme" name="add" >
								Submit</button>
								<button type="reset" class="btn btn-theme" name="rest" >
								Reset</button>
								<a href="{base_url('Manufacturers')}" class="btn btn-danger mr-5">Cancel</a>
								
							</div>
						</div><!-- /.form-footer -->
					</form>
					
				</div>
			</div>      
		</div>
	</div><!-- /.row --> 
	
</div><!-- /.body-content -->
<!--/ End body content -->

<script>	
	(function($,W,D)
	{
		var JQUERY4U = {};
		
		JQUERY4U.UTIL =
		{
			setupFormValidation: function()
			{
				
				//form validation rules
				$("#user_submit_form").validate({
					rules:
					{
						mfg_name:
						{
							required:true,
						},
						is_active:
						{
							required:true,
						}

					},
					messages: 
					{
						mfg_name:
						{
							required: "Please Enter Name",
						},						
						is_active:
						{
							required:"Please check status",
						}

					},
					
					submitHandler: function(form) 
					{
						console.log(window.ajaxoptions);
						$(form).ajaxSubmit(window.ajaxoptions);
					}
				});
			}
		}
		
		//when the dom has loaded setup form validation rules
		$(D).ready(function($)
		{
			JQUERY4U.UTIL.setupFormValidation();
		});
		
	})(jQuery, window, document);
</script>
