<div class="body-content animated fadeIn">
        
            <!-- Start datatable using dom -->
            <div class="panel rounded shadow">
                <div class="panel-heading">
                    <div class="pull-left">
                   
                        <a href="{base_url('Manufacturers/form')}">
                          <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-plus"></span> Add Manufacturer </button>
                          </a>

                           <button class="btn btn-danger " onclick="bulk_delete()"><i class="glyphicon glyphicon-trash"></i>  Bulk Delete</button>
                   
                        
                       
                    </div>                
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="clearfix"></div>
                <div class="panel-body double-scroll">
                    <table id="table" class="table table-striped table-bordered table-theme" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="width:80px;"><input type="checkbox" id="check-all" onclick="checkedall()"> &nbsp; Action</th>
                                <th class="text-center">Sr No.</th>                        
                                <th class="text-center">Name</th>
                                <th class="text-center">Is Active</th>
                                
                            </tr>
                        </thead>
                        <thead>
                           <tr>
                           {assign var="counter" value=2}
                           
                            <th> &nbsp; </th>
                            <th> &nbsp; </th>
                            <th style="text-align: center;"><input type="text" data-column="{$counter}"  class="search-input-text"></th>

                            {$counter=$counter+1}
                            <th style="text-align: center;"><input type="text" data-column="{$counter}"  class="search-input-text"></th>
                            
                           </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Action</th>
                                 <th class="text-center">Sr No.</th>                        
                                <th class="text-center">Name</th>
                                <th class="text-center">Is Active</th>                      
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.panel-body -->
            </div>

    </div><!-- /.row -->
    </script>
 <script type="text/javascript" src="{base_url('assets/jquery-ui.min.js')}"></script>  
<script type="text/javascript" language="javascript" >
        $(document).ready(function(){
            var dataTable = $('#table').DataTable({
                "processing": true,
                "serverSide": true,
                "columnDefs": [{ "orderable": false, "targets": 0 }],
                "dom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>',
                "ajax":{
                    url :"{base_url()}Manufacturers/ajax_list", // json datasource
                    type: "post",  // method  , by default get
                    error: function(){  // error handling
                        $(".table_error").html("");
                        $("#table").append('<tbody class="table_error"><tr><th colspan="3"> No Controller or Method Name Found</th></tr></tbody>');                     
                    },
                }
            });

                  //comman search             
            $('.form-control').keyup('keyup',function(){
                dataTable.search($(this).val()).draw();
            });            

            $('.search-input-text').on( 'keyup click', function(){   // for text boxes
                var i =$(this).attr('data-column');  // getting column index
                var v =$(this).val();  // getting search input value
                dataTable.columns(i).search(v).draw();
            } );

            $('.search-input-select').on( 'change', function (){   // for select box
                var i =$(this).attr('data-column');  
                var v =$(this).val();  
                dataTable.columns(i).search(v).draw();
            });
            
            
            
        });
        

 // check all
    $("#check-all").change(function(){
        $(".data-check").prop('checked', $(this).prop('checked'));
    });

    function bulk_delete()
    {
        var list_id = [];
        $(".data-check:checked").each(function() {
                list_id.push(this.value);
        });
        
        if(list_id.length > 0)
        {
            if(confirm('Are you sure delete this '+list_id.length+' data?'))
            {
                // console.log(list_id);
                $.ajax({
                    type: "POST",
                    data: "list_id="+list_id,
                    url: "{base_url()}Manufacturers/ajax_bulk_delete",
                    dataType: "JSON",
                    success: function(data)
                    {
                        if(data.status)
                        {
                            console.log(data);
                            reload_table();
                        }
                        else
                        {
                            console.log(data);
                            alert('Failed.');
                        }
                        
                    },
                    error: function (jqXHR, textStatus, errorThrown)
                    {
                        console.log(data);
                        alert('Error deleting data');
                    }
                });
            }
        }
        else
        {
            alert('no data selected');
        }
    }

function reload_table()
{
    alert('Delete Successfully');
    $('#table').DataTable().ajax.reload(null,false).draw(); //reload datatable ajax 
}
</script>