<header id="header">

<!-- Start header left -->
<div class="header-left">
    <!-- Start offcanvas left: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
    <div class="navbar-minimize-mobile left">
        <i class="fa fa-bars"></i>
    </div>
    <!--/ End offcanvas left -->

	
    <!-- Start offcanvas right: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
    <div class="navbar-minimize-mobile right">
        <i class="fa fa-cog"></i>
    </div>
    <!--/ End offcanvas right -->

	
    <!-- Start navbar header -->
    <div class="navbar-header">
		<div class="col-md-12">
			<!-- Start brand -->
			<a class="navbar-brand" href="{base_url('Dashboard')}">
				 <!-- <img class="logo" src="{base_url('assets/logo.png')}  -->
				<!-- " alt="brand logo" width="150px" />	 -->
				Mini Car Inventory 
			</a><!-- /.navbar-brand -->
			<!--/ End brand -->
		</div>
    </div><!-- /.navbar-header -->
    <!--/ End navbar header -->

    <div class="clearfix"></div>
</div><!-- /.header-left -->
<!--/ End header left -->

<!-- Start header right -->
<div class="header-right">
<!-- Start navbar toolbar -->
<div class="navbar navbar-toolbar">

<!-- Start left navigation -->
<ul class="nav navbar-nav navbar-left">

    <!-- Start sidebar shrink -->
    <li class="navbar-minimize">
         
        <a href="javascript:void(0);" title="Minimize sidebar">
            <i class="fa fa-bars"></i>
        </a>
   
    </li>
    <!--/ End sidebar shrink -->
    <li class="navbar-search" >
		
        <form class="navbar-form" id="date_time">        
            <script type="text/javascript">window.onload = date_time('date_time');</script>
        </form>
    </li>    
    <!--/ End form search -->

</ul><!-- /.navbar-left -->
<!--/ End left navigation -->

<!-- Start right navigation -->
<ul class="nav navbar-nav navbar-right"><!-- /.nav navbar-nav navbar-right -->

<!-- Start profile -->
<!-- <li class="dropdown navbar-profile">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="meta">
                                  <span class="text">Welcome {$smarty.session.full_name|capitalize}
                                </span>
                                    <span class="caret"></span>
                                </span>
    </a> -->
    <!-- Start dropdown menu -->
   <!--  <ul class="dropdown-menu animated flipInX">
        <li class="dropdown-header">Account</li>
        <li><a href="{base_url('profile_master')}"><i class="fa fa-user"></i>View Profile</a></li>      
        <li><a href="{base_url('Change_Password')}"><i class="fa fa-key"></i>Change Password</a></li>  
     <li><a  href="javascript:void(0);" data-toggle="modal" data-target="#myModal" ><i class="fa fa-sign-out"></i>Logout</a></li>  
    </ul> -->
    <!--/ End dropdown menu -->
<!-- </li>/.dropdown navbar-profile -->
<!--/ End profile -->

<!-- Start settings --
<li class="navbar-setting pull-right">
    <a href="javascript:void(0);"><i class="fa fa-cog fa-spin"></i></a>
</li><!-- /.navbar-setting pull-right -->
<!--/ End settings -->
</ul><!-- /.navbar-right -->
</div><!-- /.navbar-toolbar -->
<!--/ End navbar toolbar -->
</div><!-- /.header-right -->
<!--/ End header left -->

</header> <!-- /#header -->
