<aside id="sidebar-left" class="sidebar-circle sidebar-light">
    <div class="sidebar-content">
        <div class="media">
            <a class="pull-left has-notif avatar" href="page-profile.html">
				{if empty($smarty.session.photo)} 
					{assign var="profile" value="default.png"}
				{else}
					{assign var="profile" value=$smarty.session.photo} 
				{/if}
                <img src="{base_url('uploads')}/{$profile}" width="50px" height="50px" alt="admin">
            </a>
            <div class="media-body">
			<h5 class="media-heading"><span class="text"> Hello, {$smarty.session.full_name|capitalize}</span></h5>
             <small>{$smarty.session.userlevelsname}</small>
            </div>
        </div>
    </div>
<ul class="sidebar-menu">
    <li class="{if isset($active_dashboard)} {$active_dashboard} {/if}">
        <a href="{base_url('Dashboard')}">
        <span class="icon"><i class="fa fa-home"></i></span> &nbsp;&nbsp;
        <span class="text">Dashboard</span>
        {if isset($active_dashboard)} {'<span class="selected"></span>'} {/if}
        </a>
    </li>
    <li class="{if isset($active_mfg)} {$active_mfg} {/if}">
        <a href="{base_url('Manufacturers')}">
        <span class="icon"><i class="fa fa-industry"></i></span> &nbsp;&nbsp;
        <span class="text">Manufacturers</span>
        {if isset($active_mfg)} {'<span class="selected"></span>'} {/if}
        </a>
    </li>
    <li class="{if isset($active)} {$active} {/if}">
        <a href="{base_url('Models')}">
        <span class="icon"><i class="fa fa-car"></i></span> &nbsp;&nbsp;
        <span class="text">Models</span>
        {if isset($active)} {'<span class="selected"></span>'} {/if}
        </a>
    </li>
<!-- {assign var=i value=0}

{foreach $menu['level1'] as $mn}
           {assign var="keys" value=','|explode:$data[$mn-1]->menu_active}
                   
            <li class="submenu {if $action_segment|in_array:$keys} active {/if} {if $action_segment == $data[$mn-1]->link } active {/if}" data-container="body" data-toggle="tooltip" data-placement="right" title="{$data[$mn-1]->menu_caption}">
            {if $mn|array_key_exists:$menu.level2}
            <a href="javascript:void(0);">
                {else}
            <a href="{base_url()}{$data[$mn-1]->link}">
                {/if}
            <span class="icon"><i class="{$data[$mn-1]->class_name}"></i></span> &nbsp;&nbsp;
            <span class="text">{$data[$mn-1]->menu_caption}</span>           
            

            {if $mn|array_key_exists:$menu.level2}
            <span class="arrow"></span>
            </a>
                <ul>
             
                {assign var=k value=0}
                {foreach $menu.level2.$mn as $sub}
               
                {$k=$sub}
               
                    <li class="submenu {if $action_segment == $data[$sub-1]->link} active {/if}" >
                    <a href="{base_url()}{$data[$sub-1]->link}">
                    <span class="text">{$data[$sub-1]->menu_caption}</span>               
                    </a>          
                    </li> 
               
                {/foreach}     
                </ul>
            {else}
        </a>
            {/if}
           
           
            </li>
             
            {$i=$i+1}
           
{/foreach} -->

    </ul>


</ul><!-- /.sidebar-menu -->
<!--/ End left navigation - menu -->

<!-- Start left navigation - footer -->
<!-- /.sidebar-footer -->
<!--/ End left navigation - footer -->  

<div class="sidebar-footer hidden-xs hidden-sm hidden-md">
    <a id="logs" class="pull-left" href="{base_url('logs_master')}" data-toggle="tooltip" data-placement="top" data-title="Logs"><i class="fa fa-cog" data-container="body" data-toggle="tooltip" data-placement="right" title="Logs"></i></a>
    <a id="fullscreen" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Fullscreen"><i class="fa fa-desktop"data-container="body" data-toggle="tooltip" data-placement="right" title="Full Screen"></i></a>
  <!--   <a id="lock-screen" data-url="account/lock_screen1" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Lock Screen"><i class="fa fa-lock"></i></a> -->
    <a data-placement="top" data-target="#myModal" class="pull-left" href="javascript:void(0);" data-toggle="modal" data-title="Lock Screen"><i class="fa fa-power-off" data-container="body" data-toggle="tooltip" data-placement="right" title="Logout"></i></a>
</div>
</aside>

    