
 #ul
{
list-style: none;
/*margin: 17px 20px 20px 24px;*/
width: 576.75px;
height: 34px;
}
#li
{
display: block;
padding: 5px;
background-color: #ffffff;
border-bottom: 1px solid #367;
}
/*#content
{
padding:50px;
width:500px; 
border:1px solid #666;
float:left;
}*/
#clear
{ clear:both; }
#box
{
float:left;
margin:0 0 20px 0;
text-align:justify;
}
