/* ========================================================================
 * SECTION - HEADER
 * ======================================================================== */
#header .navbar {
  background-color: #81B71A;
}
#header .navbar .navbar-user {
  background-color: #628a14;
}
#header .navbar .navbar-header .dropdown-menu li.active:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-left: 3px solid #81B71A;
}

/* ========================================================================
 * SECTION - SIDEBAR LEFT
 * ======================================================================== */
#sidebar-left .sidebar-left-body > .nav > li.active > a, #sidebar-left .sidebar-left-body > .nav > li.active:hover > a, #sidebar-left .sidebar-left-body > .nav > li.active:focus > a {
  color: #81B71A;
}
#sidebar-left .sidebar-left-body > .nav > li.active > a:after, #sidebar-left .sidebar-left-body > .nav > li.active:hover > a:after, #sidebar-left .sidebar-left-body > .nav > li.active:focus > a:after {
  border-right: 3px solid #81B71A;
}
#sidebar-left .sidebar-left-body > .nav > li.active > .nav > li.active > a, #sidebar-left .sidebar-left-body > .nav > li.active > .nav > li.active:hover > a, #sidebar-left .sidebar-left-body > .nav > li.active > .nav > li.active:focus > a, #sidebar-left .sidebar-left-body > .nav > li.active:hover > .nav > li.active > a, #sidebar-left .sidebar-left-body > .nav > li.active:hover > .nav > li.active:hover > a, #sidebar-left .sidebar-left-body > .nav > li.active:hover > .nav > li.active:focus > a, #sidebar-left .sidebar-left-body > .nav > li.active:focus > .nav > li.active > a, #sidebar-left .sidebar-left-body > .nav > li.active:focus > .nav > li.active:hover > a, #sidebar-left .sidebar-left-body > .nav > li.active:focus > .nav > li.active:focus > a {
  color: #81B71A;
}
#sidebar-left .sidebar-left-body > .nav > li.active > .nav > li.active > a:after, #sidebar-left .sidebar-left-body > .nav > li.active > .nav > li.active:hover > a:after, #sidebar-left .sidebar-left-body > .nav > li.active > .nav > li.active:focus > a:after, #sidebar-left .sidebar-left-body > .nav > li.active:hover > .nav > li.active > a:after, #sidebar-left .sidebar-left-body > .nav > li.active:hover > .nav > li.active:hover > a:after, #sidebar-left .sidebar-left-body > .nav > li.active:hover > .nav > li.active:focus > a:after, #sidebar-left .sidebar-left-body > .nav > li.active:focus > .nav > li.active > a:after, #sidebar-left .sidebar-left-body > .nav > li.active:focus > .nav > li.active:hover > a:after, #sidebar-left .sidebar-left-body > .nav > li.active:focus > .nav > li.active:focus > a:after {
  border-right: 3px solid #81B71A;
}

/* ========================================================================
 * SECTION - FEATURES
 * ======================================================================== */
#features ul li:before {
  color: #81B71A;
}

/* ========================================================================
 * PLUGIN - BOOTSTRAP
 * ======================================================================== */
.modal-header {
  background-color: #81B71A;
  color: #ffffff;
}

/* ========================================================================
 * PLUGIN - JQUERY STEPS
 * ======================================================================== */
.wizard > .steps .current a {
  background-color: #81B71A;
}
.wizard > .steps .current a:hover, .wizard > .steps .current a:active {
  background-color: #81B71A;
}
.wizard > .steps .done a {
  background-color: #bde967;
}
.wizard > .steps .done a:hover, .wizard > .steps .done a:active {
  background-color: #bde967;
}

.select2-container--default .select2-results__option .select2-results__option:hover, .select2-container--default .select2-results__option .select2-results__option:visited, .select2-container--default .select2-results__option .select2-results__option:focus, .select2-container--default .select2-results__option .select2-results__option:active {
  background-color: #81B71A;
}

.pagination > .active > a, .pagination > .active span {
  background-color: #81B71A;
  border-color: #81B71A;
}
.pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active span:hover, .pagination > .active span:focus {
  background-color: #81B71A;
  border-color: #81B71A;
}

/* ========================================================================
 * COMPONENT - PANEL
 * ======================================================================== */
.panel.panel-theme .panel-heading {
  background-color: #81B71A;
}
